{% extends 'base.html.twig' %}

{% block title %}Gestion de magasins{% endblock %}

{% block body %}
    <div class="max-w-6xl mx-auto p-6" {{ react_component('ShopManager', { shops: shops, types: types, urls : urls, csrftokenshop: csrf_token('shop_form'), csrftokenimport: csrf_token('import_form') }) }}></div>
{% endblock %}
